
.container {
    background: white;
    position: relative;
    height: 98vh;
    overflow: hidden;
}

.typedBox {
    height: 26em;
    width: auto;
    padding-top: 10em;
    display: inline-block;
}

.introText {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Josefin Sans"
}

.name-text {
    font-size: 5rem;
}

.coding {
    
}


.wave {
    bottom: 0;
    position: absolute;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }