
.container {
    display: block;
    background: #000428;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000428 , #004e92); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.typedBox {
    width: auto;
    padding-top: 5rem;
    display: inline-block;
    position: relative;
    min-height: 40%;
    
}

.introText {
    color: #f8f8f8;
    line-height: 5rem;
    font-size: 2rem;
    font-family: "Josefin Sans"
}

.nameText{
    
    color: #f3f169;
    font-weight: bold;
}



.coding {
    position: absolute;
}


.wave {
    display: block;
    overflow: hidden;
    position: absolute;
    z-index: 4;
    
}

.wave2{
    display: block;
    overflow: hidden;
    z-index: 3;
    position: absolute;
    padding-top: 6%;
}

.wave3 {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 2;
    padding-top: 3%;
    background: #f8f8f8;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
   
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .nameText {
        font-size: 1em;
    }
    .introText {
        font-size: 2.5em;
        line-height: 2em;
    }
    .coding {
        max-width: 30rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }