
.container {
    background: white;
    display: block;
    position: relative;
    
}

.typedBox {
    width: auto;
    padding-top: 10em;
    display: inline-block;
    position: relative;

}

.introText {
    font-size: 2rem;
    font-family: "Josefin Sans"
}

.nameText{
    color: #3d5af1;
    font-size: 4rem;
    font-weight: bold;
}

.nameBrace {
    font-size: 5rem;
    padding-left: 5px;
    padding-right: 5px;
}

.coding {
    position: absolute;
}


.wave {
    display: block;
    text-align: center;
    overflow: hidden;
    position: relative;
    bottom: 0;
    
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }