

@background: #f8f8f8;


.header {
    padding: 0;
    z-index: 1;
    background: #f0f2f5;
    width: 100%;
    margin: 0 auto;
   
}

.content {
    margin: 0 auto;
}

.footer {
    position: fixed bottom;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
   
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .nameText {
        font-size: 1em;
    }
    .introText {
        font-size: 2.5em;
        line-height: 2em;
    }
    .coding {
        max-width: 30rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .header {
        background: #fff
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }