
.container {
    width: 80%;
    min-height: 100vh;
    margin: 0 auto;
}


.about {
   padding-top: 20%;
   padding-bottom: 15%;
}

.aboutTitle {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
}

