@text-color: #3d5af1;

.title {
    color: floralwhite;
}

.avatar {
    height: 3rem;
    top: -40;
}

.menu {
    position: fixed;
    width: 100%;
    float: right;
}

.wrapper {
    background: transparent;
    padding-bottom: 20%;
    float: right;
}

.menuRight {
    float: right;
}



.mobileMenu {
    height: 100%;
    display: flex;
    font-weight: bold;
    position: relative;
    padding-top: 75%;
    text-align: center;
    background: #0e153a;
    color: #e2f3f5;
    overflow: hidden;
}

.slide {
    position: absolute;
    z-index: 20000;
}

.burgerBtn {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
    
  }


.hamburger {
    position: absolute;
    z-index: 1101;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
   
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .menu {
        border-style: none;
    }
    
    .mobileMenu {
        overflow: hidden;
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

 }